body {
    font-family: Arial, sans-serif;
    background-color: #d9e7ff; /* Manteniendo el fondo azul claro */
    color: #4a4a4a;
    text-align: justify; /* Justificar el texto */
    padding: 150px;
}
h1 {
    font-size: 46px;
    margin-bottom: 20px;
}
p {
    font-size: 21px;
    line-height: 1.6;
}
.image-placeholder {
    width: 300px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    background-color: transparent; /* Elimina el fondo gris */
    margin-bottom: 20px;
    float: right; /* Alinea la imagen a la derecha */
    margin-left: 20px; /* Espacio entre la imagen y el texto */
}
img {
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}